<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}DEVOUR! I'M STARVING!{{else}}YUM-O!...ANOTHER ONE!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DEVOUR! I'M STUFFED!</button>
</li>